<table class="pure-table table-fullwidth">
    <thead>
        <tr>
            {{#each schema}}
                <th>{{@key}}</th>
            {{/each}}
            <th></th>
            <th></th>
        </tr>

    </thead>

    <tbody>
        {{#each entities}}
            <tr>
                <form class="pure-form" method="post" action="/api/{{../name}}/{{_id}}" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="_method" value="put"/>
                    {{#each ../schema}}
                        <td>
                            {{> (dynamicPartial 'input' this) schema=this hideLabel=1 name=@key index=@index value=(lookup ../this @key) dependencies=../../dependencies}}
                        </td>
                    {{/each}}
                    <td>
                        <input class="pure-button pure-button-secondary" type="submit" value="Edit"/>
                    </td>
                    <td>
                        <button class="pure-button pure-button-error" onclick="(function(){
                            var req = new XMLHttpRequest();
                            var params= '_method=delete'
                            req.open('POST', '/api/{{../name}}/{{_id}}')
                            req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                            req.onreadystatechange = (function(e){
                               if(req.readyState == 4){
                                    window.location = req.responseURL;
                                }
                            });
                            req.send(params);
                        })()">
                            Delete
                        </button>
                    </td>

                </form>
            </tr>
        {{/each}}
    </tbody>
</table>